:root {
  --primary-accent: #ff6b6b;
  --secondary-accent: #4ecdc4;
  --text-dark: #333333;
  --text-light: #f8f8f8;
  --bg-light: #ffffff;
  --bg-soft: #f7f7f7;
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Open Sans", sans-serif;
}

body {
  font-family: var(--font-body);
  color: var(--text-dark);
  background-color: var(--bg-light);
  line-height: 1.6;
  width: 100%;
  height: 100%;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("images/hero-guitar-player.jpg") no-repeat center center/cover;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  color: var(--primary-accent);
  font-family: var(--font-heading);
  font-size: 3.5rem;
  margin-bottom: 20px;
  text-shadow: 0 0 8px black;
}

.login-card {
  width: 100%;
  max-width: 600px;
  background-color: var(--bg-soft);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

input {
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-family: var(--font-body);
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-color: var(--secondary-accent);
}

button {
  background-color: var(--primary-accent);
  color: white;
  box-shadow: 0 6px 15px rgba(255, 107, 107, 0.4);
  padding: 15px 35px;
  font-family: var(--font-heading);
  font-weight: 700;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 1rem;
  border: none;
  margin: 10px 25%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

button:hover {
  transform: translateY(-2px);
  filter: brightness(1.1);
  box-shadow: 0 6px 15px rgba(255, 107, 107, 1);
}

a {
  color: var(--primary-accent);
  text-decoration: none;
  margin-top: 15px;
  display: inline-block;
}

p {
  margin-top: 15px;
  font-size: 1.5rem;
  color: var(--bg-soft);
}

label {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.logo {
  font-family: var(--font-heading);
  font-weight: 800;
  font-size: 1.8rem;
  color: var(--primary-accent);
}

a {
  color: var(--primary-accent);
  text-decoration: none;
  margin-top: 15px;
  display: inline-block;
}

p {
  margin-top: 15px;
  font-size: 1.5rem;
}
